language: go
dist: xenial
sudo: required
install: true
services:
  - docker
go:
  - 1.12
env:
  global:
    - GOARCH=amd64
    - GO_FOR_RELEASE=1.12

addons:
  apt:
    update: true

before_install:
  - sudo apt-get install -y curl open-iscsi
  - go env && pwd
  - mkdir -p $HOME/gopath/bin
script:
  - make build
notifications:
  email:
    recipients:
      - kiran.mova@cloudbyte.com
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/d885a0beef16020c3878
